@import "./normalize";
@import "./vars";
@import "./defaults";

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 16px;
  overflow: hidden;
}

.Footer {
  margin-top: auto;
  margin-bottom: 20px;
}