@import "shared/config/scss/mixins";
@import "shared/config/scss/vars";

.Products {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  margin-bottom: 140px;

  @include media($tablet) {
    gap: 20px;
  }
}

.ProductsMobile > * {
  width: calc(50% - 10px);
}

.ProductsTablet > * {
  width: calc(33.33% - 14px);
}

.ProductsDesktop > * {
  width: calc(25% - 20px);
}

.LoaderWrapper {
  padding: 30px;
}