@import "shared/config/scss/mixins";
@import "shared/config/scss/vars";

.Products {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  margin-bottom: 140px;
}

.ProductsMobile > * {
  width: calc(50% - 8px);
}

.ProductsTablet > * {
  width: calc(33.33% - 12px);
}

.ProductsDesktop > * {
  width: calc(25% - 12px);
}

.LoaderWrapper {
  aspect-ratio: 4/3;
  padding: 30px;
}