@import "../../../../shared/config/scss/vars";
@import "../../../../shared/config/scss/mixins";

.Footer {
  display: flex;
  flex-direction: column;
  gap: 30px;

  & > div {
    display: flex;
    justify-content: space-between;
  }
}

.Nav {
  display: none;

  @include media($tablet) {
    display: block;
  }
}

.Info {
  width: 100%;

  @include media($tablet) {
    width: auto;
  }
}

.Links {
  display: none;

  @include media($tablet) {
    display: block;
  }
}