@import "../../../../../shared/config/scss/vars";
@import "../../../../../shared/config/scss/mixins";

.BonusProgram {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media($desktop) {
    gap: 30px;
  }
}

.Header {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include media($tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.HeaderItem {
  font-weight: 400;
  font-size: 12px;
  color: var(--main-color);
}

.Title {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}

.Content {
  display: flex;
  justify-content: space-between;
  gap: 80px;

  @include media($tablet) {
    gap: 20px;
  }
}

.Main {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include media($tablet) {
    flex-direction: row;
    background: #f8f8f8;
    padding: 16px 9.5vw;
  }

  @include media($desktop) {
    gap: 60px;
    padding: 16px 133px;
  }
}

.MainItem {
  display: flex;
  align-items: center;
  gap: 15px;

  h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--text-color);
  }
}

.Icon {
  width: 25px;
  height: 25px;
}
