.AddCommentForm {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Label {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Title {
  font-size: clamp(12px, 3.7vw, 16px);
  color: var(--text-color);
}

.Body {
  font-size: 12px;
  color: #686868;
  resize: none;
  padding: 18px 15px;
  border: none;
  outline: none;
  height: 120px;

  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.07);
  background: #fff;
}

.SendButton {
  width: fit-content;
  align-self: flex-end;
}