@import "shared/config/scss/mixins";
@import "shared/config/scss/vars";

.Container {
  margin-left: 15px;
  margin-right: 15px;
  max-width: 1140px;

  @include media($tablet) {
    margin-left: 25px;
    margin-right: 25px;
  }

  @include media(1190px) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}