.Button {
  cursor: pointer;
}

.Disabled {
  color: white;
  background: #c4c4c4;
}

.Clear {
  background: none;
  border: none;
  outline: none;
}

.Dark {
  background: var(--main-color);
  border: none;
  outline: none;
}