@import "shared/config/scss/mixins";
@import "shared/config/scss/vars";

.HeaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: var(--header-z-index);
}

.Header {
  display: flex;
  //flex-grow: 1;
  height: var(--header-height);
  padding-bottom: 10px;
  flex-wrap: wrap;

  align-items: flex-end;

  @include media($tablet) {
    align-items: center;
    padding-bottom: 0;
  }
}

// Entities positions

.Menu {
  order: 0;

  @include media($desktop) {
    display: none;
  }
}

.Logo {
  margin: 0 auto 0 18px;
  order: 1;

  @include media($tablet) {
    margin: 0 0 0 18px;
  }

  @include media($desktop) {
    margin: 0 auto 0 0;
    order: 0;
  }
}

.Nav {
  display: none;
  order: 1;

  @include media($desktop) {
    display: block;
  }
}

.Search {
  order: 3;
  @include media($tablet) {
    order: 2;
    margin: 0 auto;
  }
}

.Contact {
  display: none;
  margin-right: 30px;
  @include media($desktop) {
    display: block;
    order: 3;
  }
}

.Delivery {
  display: none;
  @include media($tablet) {
    display: block;
    order: 3;
    margin-right: 30px;
  }
  @include media($desktop) {
    order: 4;
  }
}

.UserBar {
  order: 2;
  @include media($tablet) {
    order: 4;
  }
  @include media($desktop) {
    order: 5;
  }
}
