.CommentCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.07);
  background: #fff;
  padding: 20px;
}

.Header {
  display: flex;
  gap: 20px;
}

.Name {
  white-space: nowrap;
  font-size: 14px;
  color: #000;
}

.Rating {
  flex-shrink: 0;
}

.Content {

}