.Link {
  font-size: var(--font-size-m);
  line-height: 16px;
  color: var(--text-color);
  font-weight: 400;
}

.Underline {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.3s;

  &:hover {
    border-bottom: 1px solid var(--text-color);
  }
}

.Clear {
  text-decoration: none;
}